/* General Styles */
<!--
    Name: sona bijumon prasobha
    File: layout1.html
    Date: 22 February 2025
     description: a beautiful layout of my website
    -->
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #222;
}
/* Header */
header {
    text-align: center;
    padding: 20px;
    background: #c79f63;
    color: white;
}

/* Sticky Navigation Bar */
nav {
    background: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

/* Main Layout */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Blog Post */
article {
    width: 65%;
}
.float-img {
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 100px;
}

/* Sidebar */
aside {
    width: 30%;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}
.photo-grid img {
    width: 100%;
    display: block;;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #cbab42;
    color: white;
    margin-top: 20px;
}
